# settings.mk.example
# copy this file to settings.mk and edit for your build process

# Your signature for created images (for image release informations)
NAME = 
MAIL = 

# Put your your default make targets in correct order
DEFAULTIMAGES	= image-attitude_adjustment-ar71xx

# disable for screen flooding, enable for quiet run
MAKEFLAGS	+= -s --no-print-directory

# OpenWrt version
# check the current SVN revision with
# svn info svn://svn.openwrt.org/openwrt/trunk/ | grep "Rev:" | sed -e "s/.*: //g"
SVNREVISION	= 32690

# Freifunk Jena  udp-broadcast
FFJVERSION	= git-cf16b21
FFJDATE		= 2012-04-27

# Supported OpenWrt branch
REPOSITORY = attitude_adjustment trunk

# Supported platform
PLATFORM = ar71xx

# Supported communitis (for zeroconfig images)
COMMUNITY = aachen duesseldorf duisburg krefeld neuss radevormwald solingen wermelskirchen wuppertal

