<div class="row">
  <div class="six columns push-three">
    <div class="well">
      <form class="nice" action=".">
        <label for="user">User</label>
        <input class="input-text" type="text" name="user" id="user">
        <label for="password">Password</label>
        <input class="input-text" type="text" name="password" id="password">
        <div class="form-actions">
          <button type="button" name="login" id="login" class="button">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>