<div class="row">
  <div class="eight columns">
    <div class="well">
      <h4>Basis Konfiguration</h4>

      <form class="nice" action=".">
        <fieldset>
          <legend>Grundlegende Einstellungen deines Freifunk Routers</legend>
          <label class="control-label" for="name">Routername</label>
          <input type="text" class="input-text" name="name" id="name">

          <p class="help-block">wie soll dein Router heissen</p>

          <label class="control-label" for="description">Beschreibung</label>
          <textarea class="input-text last" name="description" id="description" rows="3" cols="5"></textarea>
        </fieldset>

        <div class="form-actions">
          <button id="save" type="button" class="button">Speichern</button>
          <button type="reset" class="button danger">Zurücksetzen</button>
        </div>
      </form>
    </div>
  </div>
  <div class="four columns">
    <div class="well help">
      <h5>Hilfe</h5>

      <p>Hilfe foo text</p>
    </div>
  </div>
</div>