<h2>Basis Konfiguration</h2>
<div class="row">
  <div class="span8">
    <form class="form-horizontal" action=".">
      <fieldset>
        <legend>Grundlegende Einstellungen deines Freifunk Routers</legend>
        <div class="control-group">
          <label class="control-label" for="name">Routername</label>

          <div class="controls">
            <input type="text" class="input-xlarge" name="name" id="name">

            <p class="help-block">so soll dein Router heissen</p>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="description">Beschreibung</label>

          <div class="controls">
            <textarea class="input-xlarge" name="description" id="description" rows="3" cols="5"></textarea>
          </div>
        </div>
        <div class="form-actions">
          <button id="save" type="button" class="btn btn-primary">Speichern</button>
          <button type="reset" class="btn">Zurücksetzen</button>
        </div>
      </fieldset>
    </form>
  </div>
  <div class="span4">
    <h3>Hilfe</h3>

    <p>Hilfe foo text</p>
  </div>
</div>