/* Foundation v2.2 http://foundation.zurb.com */
/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/

.help-block {
  font-size: 12px;
  line-height: 12px;
}

.button.danger {
  background: none repeat scroll 0 0 #e91c21;
}

/* -----------------------------------------
   Shared Styles
----------------------------------------- */

/* -----------------------------------------
  Page Name 1
----------------------------------------- */

/* -----------------------------------------
  Page Name 2
----------------------------------------- */


