#bowlG{
position:relative;
width:48px;
height:48px;
}

#bowl_ringG{
position:absolute;
width:48px;
height:48px;
border:4px solid #000000;
-moz-border-radius:48px;
-webkit-border-radius:48px;
}

.ball_holderG{
position:absolute;
width:13px;
height:48px;
left:18px;
top:0px;
-webkit-animation-name:ball_moveG;
-webkit-animation-duration:1.7s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-timing-function:linear;
-moz-animation-name:ball_moveG;
-moz-animation-duration:1.7s;
-moz-animation-iteration-count:infinite;
-moz-animation-timing-function:linear;
}

.ballG{
position:absolute;
left:0px;
top:-11px;
width:19px;
height:19px;
background:#000000;
-moz-border-radius:16px;
-webkit-border-radius:16px;
}

@-webkit-keyframes ball_moveG{
0%{
-webkit-transform:rotate(0deg)}

100%{
-webkit-transform:rotate(360deg)}

}

@-moz-keyframes ball_moveG{
0%{
-moz-transform:rotate(0deg)}

100%{
-moz-transform:rotate(360deg)}

}