/* ==|== primary styles =====================================================
   Author:
   ========================================================================== */

header h1 {
  font-size: 2.5em;
}



#spinner {
  background: url("img/ajax-loader-large.gif") no-repeat;
  width: 66px;
  height: 66px;
}

#header {
  margin-top: 30px;
  margin-bottom: 30px;
}

footer {
  margin-top: 30px;
}

.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #FFCC33;
  border: 1px solid #eee;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.well blockquote {
  border-color: #ddd;
  border-color: rgba(0, 0, 0, 0.15);
}

.well h4 {
  font-size: 1.3em;
}

.well h5 {
  font-size: 1.1em;
}

.well p {
  font-size: 1em;
}


.well p.help-block {
  font-size: 0.7em;
  line-height: 0.7em;
}

.well label {
  font-weight: bold;
}

.well form.nice div.form-field input:focus,
.well form.nice input.input-text:focus,
.well form.nice textarea:focus {
  background-color: #f2deda;
}

.well form.nice div.form-field input,
.well form.nice input.input-text,
.well form.nice textarea {
  background-color: #f0f0f0;
  font-weight: bold;
}

.help.well {
  background-color: #ffa1c2;
}

form.nice button.button {
  color: #f0f0f0;
  background-color: #CD2960;
  border: 1px solid #f0f0f0;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  font-size: 1.2em;
}

form.nice button.button:hover {
  background-color: #ff3275;
}

input.input-text,
form.nice input.input-text,
form.nice textarea {
  border: 1px solid #aaa;
}

.well form.nice {
    margin: 0 0 0 0;
}

form fieldset {
  border-color: #888;
}

fieldset textarea.last,
fieldset input.last {
  margin-bottom: 8px;
}

.well button.button.danger,
.button.danger {
  background: none repeat scroll 0 0 #e91c21;
}