html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 1em; line-height: 1.4; }
body, button, input, select, textarea { font-family: sans-serif; color: #222; }
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
/*end h5bp*/
body {
	width: 800px;
	background-color: #FFCB05;
	margin: 0 auto;
	text-align: left;
}
a {
	color: #000;
}
header {
	border-bottom: 5px solid #E0256C;
	padding-bottom: 2em;
}
header h1 {
	color: #E0256C;
	float: right;
	margin-right: 10px;
}
#maincontent {
	border-bottom: 5px solid #E0256C;
	padding: 2em 1em 1em;
	background-color: #fff;
	-webkit-box-shadow: 2px 0px 5px 3px #111;
	-moz-box-shadow: 2px 0px 5px 3px #111;
	box-shadow: 2px 0px 5px 3px #111;
}
.buttons {
	width: 50%;
	text-align:center;
}
#button_area{
	border-top: 5px solid #E0256C;
	margin: 1em auto;
	padding-top: 1em;
}

div#button_left{
	float:left;
}

div#button_right{
	float:right;
}

input.button{
	border-color:white black black white;
	border-style:solid;
	border-width:1px;
	background-color: #E5E5E5;
	padding: 5px;
	color: black;
	font-weight: bold;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
input.button:hover {
	background-color: grey;
	border-color:white black black white;
	border-style:solid;
	border-width:1px;
}
/*start mobile design*/
@media only screen
and (min-width : 320px)
and (max-width : 480px) {

	body {
		width: 300px;
	}
	header {
		text-align: center;
	}
	header h1 {
		float: none;
	}
	#button_area div.buttons {
		float: none;
		width: 260px;
		margin: 1em auto;
	}
	.button {
		font-size: 20px;
		width: 260px;
		height: 80px;
	}
}
@media only screen
and (-webkit-min-device-pixel-ratio: 2)
and (min-width : 640px)
and (max-width : 640px) {
	body {
		width: 600px;
		-webkit-text-size-adjust: 150%;
		font-size: 2em;
	}
	header h1 {
		float: none;
	}
	#button_area div.buttons {
		float: none;
	}
	.button {
		margin: .5em auto;
		font-size: 2em;
		width: 550px;
	}
}
@media only screen
and (-webkit-min-device-pixel-ratio: 2)
and (min-width : 960px)
and (max-width : 960px) {
	body {
		width: 900px;
		-webkit-text-size-adjust: 150%;
		font-size: 2em;
	}
	header h1 {
		float: none;
	}
	#button_area div.buttons {
		float: none;
	}
	.button {
		margin: .5em auto;
		font-size: 2em;
		width: 820px;
	}
}
@media only screen
and (min-width : 550px)
and (max-width : 960px) {

	body {
		width: 500px;
	}
	header h1 {
		float: none;
	}
}